*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}


body{

background:white;
color:#111;

}


/* HEADER */


.header{

width:100%;
background:white;
border-bottom:1px solid #ddd;

}



.header-container{
 
    max-width:1400px;

margin:auto;

padding:10px 40px;

display:flex;

align-items:center;

justify-content:space-between;

gap:20px;

height:70px;


}



/* LOGO */


.logo img{

width:90px;
height:auto;
display:block;
transform:translateY(12px);

}



/* BUSCADOR */


.search{

display:flex;

width:45%;

}



.search input{


width:100%;

padding:12px 20px;

border:1px solid #ddd;

border-radius:25px 0 0 25px;

outline:none;


}



.search button{


padding:0 20px;

border:none;

background:#111;

color:white;

border-radius:0 25px 25px 0;


}



/* ICONOS */


.icons{

display:flex;

gap:20px;

font-size:25px;

cursor:pointer;

}



.menu-btn{

display:none;

font-size:30px;

}





/* NAVBAR */


.navbar{

display:flex;

justify-content:center;

gap:40px;

padding:15px;


}


.navbar a{

text-decoration:none;

color:#111;

font-weight:600;

}



.navbar a:hover{

color:#777;

}

/* HERO */


.hero{


height:70vh;

position:relative;

background-image:
linear-gradient(
rgba(0,0,0,0.45),
rgba(0,0,0,0.45)
),
url("Imagenes page/index.jpg");


background-size:cover;

background-position:center;

display:flex;

align-items:center;

padding:60px;

color:white;



}


.hero-text h1{


font-size:60px;

margin-bottom:20px;


}



.hero-text p{

font-size:22px;

margin-bottom:30px;

}



.hero-text button{


padding:15px 40px;

background:#111;

color:white;

border:none;

border-radius:30px;

cursor:pointer;

}




/* RESPONSIVE */


@media(max-width:900px){


.header-container{

padding:20px;

}



.search{

display:none;

}


.navbar{

display:none;

}



.icons{

display:none;

}


.menu-btn{

display:block;

}



.hero{

padding:30px;

}



.hero-text h1{

font-size:40px;

}


}



@media(max-width:480px){


.logo img{

width:90px;

}


.hero-text h1{

font-size:32px;

}


}